@page "/"
@rendermode InteractiveServer
@inject GameDb GameDb



<PageTitle>Game Catalog</PageTitle>

<h1>Game Catalog</h1>
<div class="mt-2">
<a class="btn btn-primary mb-2" role="button" href="/editgame">Add</a>
</div>
@if (GameDb == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table table-striped table-bordered table-hover">
        <thead class="table-dark">
        <th>Id</th>
        <th>Name</th>
        <th>Genre</th>
        <th class="text-end">Price</th>
        <th>Release Date</th>
        </thead>
        <tbody>
            @foreach (var game in GameDb.gamesList)
            {
                <tr>
                    <td>@game.Id</td>
                    <td>@game.Name</td>
                    <td>@game.GenreId </td>
                    <td class="text-end">@game.Price.ToString("C2")</td>
                    <td>@game.ReleasedDate.ToShortDateString()</td>
                </tr>
            }
        </tbody>
    </table>
}

@code
{


    private Game[]? games;

    protected override void OnInitialized()
    {
        GameDb.GetGames();
    }

}