@rendermode InteractiveServer
@page "/demoproduct"


<div class="col">
    <h3 class="text-primary">DemoProduct</h3>
</div>

<div class="row border" style="background-color:azure ">

    @foreach (var item in bindProp.Products)
    {
        <div class="bg-light border m-1 col-3">
            <h4 class="text-secondary">Product- @item.Id</h4>
            Name - @item.Name<br />
            Show Properties: <input type="checkbox" @bind-value="item.IsActive" checked="@(item.IsActive?"checked":null)" />
            <div class="mt-3">
                @if (item.IsActive)
                {
                    @foreach (var prop in item.ProductProps)
                    {
                        <p>@prop.Key - @prop.Value</p>
                       
                    }
                }
            </div>
        </div>
    }
</div>


@code {
    
    BindProp bindProp = new();
}
