@page
@model RegisterModel


<div class=" card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-4  ">
        <h1 class="text text-white text-center py-2">Register</h1>
    </div>
    <div class="card-body p-4 ">
        <div class="row">
            <div class="col-md-12">
                <form class="row" id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                    <h2 class="border-bottom pb-3 mb-4 text-secondary text-center">Create a new account.</h2>
                    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

                    <div class="form-floating mb-3 col-md-12">
                        <input asp-for="Input.Email" class="form-control" aria-required="true" placeholder="name@example.com" />
                        <label class="text-muted ms-2" asp-for="Input.Email">Email</label>
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>

                    <div class="form-floating mb-3 col-md-12">
                        <input asp-for="Input.Name" class="form-control" aria-required="true" placeholder="Full Name" />
                        <label class="text-muted ms-2" asp-for="Input.Name">Full Name</label>
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>

                    <div class="form-floating mb-3 col-md-6">
                        <input asp-for="Input.PhoneNumber" class="form-control" autocomplete="username" aria-required="true" placeholder="Phone Number" />
                        <label class="text-muted ms-2" asp-for="Input.PhoneNumber">Phone Number</label>
                        <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                    </div>

                    <div class="form-floating mb-3 col-md-6">
                        <input asp-for="Input.StreetName" class="form-control" autocomplete="username" aria-required="true" placeholder="Street Name" />
                        <label class="text-muted ms-2" asp-for="Input.StreetName">Street Name</label>
                        <span asp-validation-for="Input.StreetName" class="text-danger"></span>
                    </div>

                    <div class="form-floating mb-3 col-md-6">
                        <input asp-for="Input.City" class="form-control" autocomplete="username" aria-required="true" placeholder="City" />
                        <label class="text-muted ms-2" asp-for="Input.City">City</label>
                        <span asp-validation-for="Input.City" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3 col-md-6">
                        <input asp-for="Input.PostalCode" class="form-control" autocomplete="username" aria-required="true" placeholder="Postal Code" />
                        <label class="text-muted ms-2" asp-for="Input.PostalCode">Postal Code</label>
                        <span asp-validation-for="Input.PostalCode" class="text-danger"></span>
                    </div>

                    <div class="form-floating mb-3 col-md-6">
                        <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                        <label class="text-muted ms-2" asp-for="Input.Password">Password</label>
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>

                    <div class="form-floating mb-3 col-md-6">
                        <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                        <label class="text-muted ms-2" asp-for="Input.ConfirmPassword">Confirm Password</label>
                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                    </div>

                    <div class="form-floating mb-3 col-md-12">
                        <select asp-for="Input.Role" id="roleDropdown" asp-items="@Model.Input.RoleList" class="form-select text-center">
                            <option disabled selected>Select Role</option>
                        </select>
                    </div>
                    <div class="form-floating mb-3 col-md-12" id="companyDropdown" style="display:none">
                        <select asp-for="Input.CompanyId" asp-items="@Model.Input.CompanyList" class="form-select text-center">
                            <option disabled selected>Select Company</option>
                        </select>
                    </div>
                    <div class="d-flex justify-content-center">
                        <button id="registerSubmit" type="submit" class="btn btn-lg btn-primary me-1 col-md-4 ">Register</button>
                        <a class="btn btn-lg btn-secondary opacity-75 col-md-4 " asp-area="Customer" asp-page="/Home/Index">Back</a>
                    </div>
                </form>

            </div>
        </div>

    </div>
</div>
<div class="col-md-12 mt-4">
    <section>
        <p class="diveder-text d-flex">or</p>
        <h4>Use another service to register.</h4>
        @{
            if ((Model.ExternalLogins?.Count ?? 0) == 0)
            {
                <div>
                    <p>
                        There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">
                            article
                            about setting up this ASP.NET application to support logging in via external services
                        </a>.
                    </p>
                </div>
            }
            else
            {
                <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                    <div>
                        <p>
                            @foreach (var provider in Model.ExternalLogins!)
                            {
                                <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                            }
                        </p>
                    </div>
                </form>
            }
        }
    </section>
</div>
</div>
</div>



@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    @* script for making company selection visible *@
    <script>
        document.getElementById('roleDropdown').addEventListener('change', function () {
            var roleDropdown = document.getElementById('roleDropdown');
            var companyDropdown = document.getElementById('companyDropdown');

            if (roleDropdown.value == 'Company') {
                companyDropdown.style.display = 'block';
            } else {
                companyDropdown.style.display = 'none';
            }
        });
    </script>
}
